.profile-logo {
    background-color: #3b71ca !important;
    color: white;
    font-size: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.sidebar-toggler {
    cursor: pointer;
}