<form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email Address</label>
      <input type="email" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password Recovery Question</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Answer</label>
      <input type="text" class="form-control" id="exampleInputPassword1">
    </div>
  
    <button class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" >Sign In</button>
    <div class="d-flex align-items-center justify-content-center">
      <p class="question mb-0">Already have an Account?</p>
      <span class="text-primary fw-bold ms-2" (click)="setAuth()">Sign In</span>
    </div>
  </form>