.text-primary {
  color: #3b71ca !important;
}

.subtitle {
  color: #5a6a85;
}

.logo {
  font-weight: bold;
  color: #3b71ca;
}

.card {
  padding: 20px;
  box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
  border-width: 0;
}