$mobile: 992px;

.navbar {
  background-color: transparent;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
  color: #3b71ca;
  transition: all 0.3s ease-out 0.2s;

  &:hover {
    color: #2d4e84;
  }
}

.nav-link {
  font-size: 18px;
  color: #6b6f92;
  transition: all 0.3s ease-out 0s;
  border-bottom: 2px solid transparent;

  @media screen and (min-width: $mobile) {
    &:hover {
      color: #3b71ca;
      border-bottom: 2px solid #3b71ca;
    }
  }

  &:hover {
    color: #3b71ca;
  }
}
