<div class="container-fluid mt-2">
  <div class="card container">
    <div class="card-body">
      <div class="d-flex justify-content-between flex-wrap">
        <h5 class="card-title fs-5 fw-semibold mb-4">
          <span *ngIf="project"> {{ (project | async)?.name }}: </span>
          Functionalities with tasks
        </h5>
        <div class="card-actions">
          <button class="btn btn-primary mx-md-1" (click)="open(content)">Add functionality</button>
          <button class="btn btn-primary">Add task</button>
        </div>
      </div>
      <div ngbAccordion *ngFor="let functionality of functionalities | async">
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>{{ functionality.name }}</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>
                <div class="mb-1">
                  <button class="btn btn-warning text-white" (click)="editOpen(edit, functionality)">
                    Edit functionality
                  </button>
                  <button class="btn btn-danger text-white mx-1" (click)="deleteFunctionaLity(functionality.id)">
                    Delete functionality
                  </button>
                </div>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Task name</th>
                      <th scope="col">Priority</th>
                      <th scope="col">State</th>
                      <th scope="col">Started:</th>
                      <th scope="col">Actions:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let task of getTaskById(functionality.id)">
                      <td>{{ task.name }}</td>
                      <td>{{ task.priority }}</td>
                      <td>{{ task.state }}</td>
                      <td>{{ task.startDate.toLocaleString() ?? "-" }}</td>
                      <td>
                        <button class="btn btn-warning text-white">
                          Manage
                        </button>
                        <button class="mx-1 btn btn-danger text-white" (click)="deleteTask(task.id)">
                          Delete
                        </button>
                      </td>
                    </tr>
                   
                  </tbody>
                </table>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <app-add-functionality-modal></app-add-functionality-modal>
</ng-template>

<ng-template #edit let-modal>
  <app-edit-functionality-modal [functionality]="selectedFunctionality"></app-edit-functionality-modal>
</ng-template>
