<div class="container-fluid mt-2">
  <div class="card container">
    <div class="card-body">
      <h5 class="card-title fs-5 fw-semibold mb-4">
        Functionalities with tasks
      </h5>
      <div ngbAccordion>
        <div ngbAccordionItem>
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton>First</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template>Content for the first item</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>