<section class="content container w-75 d-flex justify-content-center align-items-center my-3 py-3">
    <div class="row w-100">
      <div class="col-md-12 col-lg-6 welcome-content d-flex flex-column justify-content-center">
      <h1 class="title pb-2">Welcome to ManageMe</h1>
      <h2 class="subtitle pb-2">Simplify your workflow and achieve your goals faster</h2>
      <p class="description">
        The ultimate project management tool that streamlines project creation,
        task assignment, progress tracking, and real-time collaboration.
      </p>
      <div class="actions"><button class="btn btn-primary">Get started</button>
      </div>
      </div>
      <div class="col-md-12 col-lg-6 d-flex justify-content-center align-items-center management" >
        <img class="w-100" src="../../assets/management.png" alt="project-management"/>
      </div>
    </div>
  </section>
  