.content{
    height: 100%;
}

.management{
    img{
        width: 60% !important;
    }
}

.welcome-content {
    .title{
        font-size: 25px;
        color: #3B71CA;
        font-weight: bold;
    }

    .subtitle {
        font-size: 30px;
        color: #313450;
        font-weight: bold;
    }

    .description {
        font-size: 18px;
    }
    
}