<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add a new functionality</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="name">Name of functionality</label>
      <div class="input-group">
        <input
          id="name"
          class="form-control"
          placeholder="name"
          name="name"
          [(ngModel)]="name"
        />
      </div>

      <label for="description" class="mt-2">Functionality description</label>
      <div class="input-group">
        <textarea
          id="description"
          class="form-control"
          placeholder="description"
          name="description"
          [(ngModel)]="description"
        ></textarea>
      </div>

      <label for="description" class="mt-2">Priority</label>
      <select #priority (change)="onSelect(priority.value)" id="project" class="form-select" aria-label="Default select example">
        <option selected value="Low">Low</option>
        <option value="Normal">Normal</option>
        <option value="High">High</option>
      </select>
      <p class="mt-3 text-danger" *ngIf="error">{{errorMessage}}</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="addFunctionality()">Save</button>
</div>
