<div class="container-fluid mt-2">
    <div class="card container">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between flex-wrap mb-4">
          <h5 class="d-flex align-items-center card-title fs-5 fw-semibold">Your projects</h5>
          <button class="btn btn-primary fs-6 d-flex " (click)="open(content)">Add a new project</button>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-4" *ngFor="let project of (projects | async)">
            <div class="card p-4">
              <div>
                <div class="card-square mb-3 d-flex justify-content-center align-items-center">{{project.name.slice(0, 1)}}</div>
                <div class="card-title project-title">{{ project.name }}</div>
                <div class="p-0 card-body project mt-2">
                  {{ project.description }}
                </div>
                  <button class="btn btn-primary fs-6 mt-2 d-flex align-items-center">
                    <mat-icon>work</mat-icon>
                    <span class="mx-2" routerLink="project/{{project.id}}">Work</span>
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add a new project</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="name">Name of project</label>
          <div class="input-group">
            <input
            id="name"
            class="form-control"
            placeholder="name"
            name="name"
            [(ngModel)]="name"
            />
          </div>

          <label for="description" class="mt-3">Project description</label>
           <div class="input-group">
            <textarea
              id="description"
              class="form-control"
              placeholder="description"
              name="description"
              [(ngModel)]="description"
            ></textarea>
           </div>
           <p class="mt-3 text-danger" *ngIf="error">{{errorMessage}}</p>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="addProject()">Save</button>
    </div>
  </ng-template>
  